@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');

:root{
    --inter: 'Inter', sans-serif;
    --blue: #0056D6;
    --link: #6C768D;
    --header-colors: #424242;
    --body-colors: #5F5F5F;
}

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    font-family: var(--inter);
    scroll-behavior: smooth;
}

main{
    background-image: url("./images/girl.png");
    padding: 2rem 6rem 0 6rem;
    background-size: cover;
}

nav{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.logo{
    font-weight: bolder;
    color: var(--blue);
    font-size: 20px;
}

.navigation ul{
    display: flex;
    flex-direction: row;
    align-items: center;
}

.navigation ul li{
    padding: 0 2rem;
    text-decoration: none;
    list-style: none;
    cursor: pointer;
}

.contact{
    font-family: var(--inter);
    font-size: 12px;
    padding: 0.7rem 2.5rem;
    border-radius: 50px;
    background-color: var(--blue);
    color: white;
    border: none;
    cursor: pointer;
}

.main-text{
    padding: 15rem 0rem 24rem 0rem;
    width: 50%;
}

.main-text h2{
    font-size: 4rem;
    font-weight: 800;
    color: var(--header-colors)
}

.main-text p{
    margin-top: 1.5rem;
    width: 67%;
    line-height: 1.7rem;
}

.btns{
    margin-top: 2rem;
}

.learn-more{
    margin-left: 1.5rem;
    font-family: var(--inter);
    font-size: 12px;
    padding: 0.7rem 2.5rem;
    border-radius: 50px;
    border: 1px solid var(--blue);
    color: var(--blue);
    cursor: pointer;
}

.offers{
    padding: 8rem 10rem;
}

.infos{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    text-align: center;
}

.info p{
    margin-top: 1rem;
    padding: 0rem 3rem;
}

.section-card{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    margin: auto;
    background-color: var(--blue);
    margin-top: 8rem;
    border-radius: 30px;
    padding: 8rem;
}

.section-card h3{
    color: white;
    font-size: 3rem;
}

.section-card .percentages{
    margin-right: 0rem;
    padding-top: 4rem;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 11rem;
    justify-content: space-between;
    align-content: center;
    place-items: center;
    color: white;
}


.percentage .number{
    font-size: 3rem;
    font-weight: 500;
}

.percentage .number span{
    border-bottom: 5px solid white;
    font-size: 4.5rem;
    font-weight: 500;
}

.percentage .number-info{
    margin-top: 1.5rem ;
}

.features-header{
    text-align: center;
}
.features-header h2{
    color: var(--header-colors);
    font-size: 4rem;
}
.features-header p{
    font-size: 1.2rem;
    padding: 0 28rem;
    margin-top: 2rem;
    color: var(--body-colors);
    line-height: 35px;
}

.features-body{
    margin: 5rem 10rem 0 10rem;
    text-align: center;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    column-gap: 3rem;
}
.features-body .feature-header{
    margin-top: 2rem;
    color: var(--header-colors);
    font-size: 1.2rem;
    font-weight: 700;
}
.features-body .feature-body{
    color: var(--body-colors);
    margin-top: 2rem;
    line-height: 30px;
}


.services{
    margin-top: 8rem;
}
.services-header{
    text-align: center;
}
.services-header h2{
    color: var(--header-colors);
    font-size: 4rem;
}
.services-header p{
    font-size: 1.2rem;
    padding: 0 25rem;
    margin-top: 2rem;
    color: var(--body-colors);
    line-height: 35px;
}

.cards1{
    display: flex;
    flex-direction: row;
    padding-left: 10rem;
    margin-top: 6rem;
}
.cards2{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    padding-right: 7rem;
    margin-top: 2rem;
}

.card{
    width: 30%;
    padding: 3rem;
    margin-right: 3rem;
    display: flex;
    flex-direction: row;
    border: 1px solid transparent;
    background-color: white;
    box-shadow: 1px 19px 36px -6px rgba(239,239,239);
    border-radius: 5px;
}
.card .card-texts{
    margin-left: 1.5rem;
}
.card .card-texts .card-texts-header{
    color: var(--header-colors);
    font-weight: 700;
    font-size: 1rem;
}
.card .card-texts .card-texts-body{
    color: var(--body-colors);
    margin-top: 1rem;
    font-size: 13.5px;
}

.sign-up-body{
    margin: 4rem 15rem 0 15rem;
    background-color: var(--blue);
    padding: 3rem 5rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    color: white;
    border-radius: 20px;
}

.sign-up-texts_header{
    font-size: 2.5rem;
    font-weight: 600;
}
.sign-up-texts_body{
    font-size: 1.2rem;
    font-weight: 200;
    margin-top: 0.5rem;
}

.sign-up-btn .btn{
    background-color: transparent;
    outline: none;
    border: 3px solid white;
    border-radius: 10px;
    padding: 1rem 3rem;
    font-family: var(--inter);
    font-weight: 600;
    font-size: 1.5rem;
    color: white;
    cursor: pointer;
}

footer{
    margin-top: 5rem;
    text-align: center;
    color: white;
    background-color: var(--header-colors);
    padding: 1rem 0;
    font-weight: 300;
    font-size: 13px;
}